/* General */
.homePage {
  align-items: center;
  padding: 10px;
  margin-bottom: 100px;
}

/* Equity Section */
.equityItems {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 70px;
  text-align: center;
  align-content: center;
}
.equityItems a {
  color: #a07a60;
  font-weight: bold;
}

/* Last Transactions Section */
.lastTransactions {
  display: flex;
  flex-direction: column;
}

.lastTransactions p {
  margin: 3px 0;
}

/* Quick Actions Section */
.quickActions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.quickActionButton {
  padding: 20px;
  font-weight: normal;
  font-size: x-large;
  width: calc(100% - 50px);
  text-align: center;
  border-radius: 4px;
}
.addCostButton {
  background: #ba535f;
}
.addIncomeButton {
  background: #5cb565;
}
.addExchangeButton {
  background: #5b9fd3;
}
