/* normal style */
@font-face {
  font-family: "IBMPlexMono";
  src: url("/src/assets/fonts/IBMPlexMono-Light.ttf");
}

/* bold style */
@font-face {
  font-family: "IBMPlexMono Bold";
  src: url("/src/assets/fonts/IBMPlexMono-Regular.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "IBMPlexMono";
  max-width: 1170px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBMPlexMono Bold";
  color: white;
}

a {
  text-decoration: none;
}
