input,
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.content {
  padding: 20px;
  text-align: left;
  max-width: 600px;
  margin-top: calc(10%);
}

.section {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  font-size: x-large;
}

.section p {
  color: #ba535f;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#errorMessage {
  color: #ba535f;
  font-weight: lighter;
  font-size: medium;
}

.groupOfItems {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: 20px;
}

/* Input forms */
.categorySelector {
  flex: 8;
}
#value {
  flex: 8;
}
.currencySelector {
  flex: 2;
}

#costName {
  flex: 8;
}
.costNameSelector {
  flex: 2;
}

/* Buttons */
.buttons {
  margin-top: 30px;
}

.reset {
  background: #d3af54;
  flex: 5;
}
.confirm {
  background: #32c181;
  flex: 5;
}
.deleteButton {
  color: #ba535f;
  background-color: transparent;
  font-style: italic;
}
